<!DOCTYPE html>
<html lang="en">
<head>
    <script defer src="/scripts/generate.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Generiranje ulaznice</title>
</head>
<body>
    <div class="container">
        <h1>Generiranje ulaznice</h1>

        <form id="ticketForm">
            <label for="vatin">OIB: </label>
            <input type="number" name="vatin" id="vatin" min="10000000000" max="99999999999" required> <br>

            <label for="firstName">Ime: </label>
            <input type="text" name="firstName" id="firstName" required> <br>

            <label for="lastName">Prezime: </label>
            <input type="text" name="lastName" id="lastName" required> <br>

            <button type="submit">Generiraj</button> 
        </form>

        <div id="qrCodeContainer" style="display:none;">
            <p>QR kod i link ulaznice:</p>
            <img id="qrCodeImage" alt="QR kod ulaznice">
            <a id="ticketLink" href="#" style="display:none;"></a>
        </div>
    </div>    
</body>