body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.errorMessage {
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* QR kod stilovi */
#qrCodeContainer {
    text-align: center;
    margin-top: 20px;
}

img {
    max-width: 150px;
}

/* Stilovi za prijavu i korisnika */
.user-info {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

.user-info a {
    color: #4CAF50;
    text-decoration: none;
}